In [6]:
import pandas as pd
import cx_Oracle
import datetime
import csv
import time
import sys

In [7]:
def fetch_data():
    con = cx_Oracle.connect('STOCK/P3rXdM5HbSgQRmCS@10.1.20.41:1521/STOCK')
    print (con.version)
    sql_sectors = """SELECT CASE30_COMPANIES.SYMBOL_CODE , SYMBOLHISTORY.TRADE_VOLUME 
                    from CASE30_COMPANIES LEFT JOIN SYMBOLHISTORY
                    ON CASE30_COMPANIES.SYMBOL_CODE = SYMBOLHISTORY.SYMBOL_CODE """
    cursor = con.cursor()    
    df_sectors = pd.read_sql(sql_sectors, con)
    print("EGX30 Tickers  && It's Trading Volume\n================================================\n")
    print(df_sectors)
fetch_data()

11.2.0.4.0
EGX30 Tickers  && It's Trading Volume
================================================

         SYMBOL_CODE  TRADE_VOLUME
0       EGS729J1C018        460842
1       EGS73541C012      26598110
2       EGS743O1C013        307032
3       EGS745L1C014       8134435
4       EGS95001C011         23932
...              ...           ...
104972  EGS729J1C018       1283651
104973  EGS73541C012      33863911
104974  EGS743O1C013        398022
104975  EGS745L1C014       8731318
104976  EGS95001C011         46101

[104977 rows x 2 columns]

In [8]:
def fetch_data():
    con = cx_Oracle.connect('STOCK/P3rXdM5HbSgQRmCS@10.1.20.41:1521/STOCK')
    print (con.version)
    sql_sectors = """SELECT EGX30_CAP_SYMBOLS.SYMBOL_CODE , SYMBOLHISTORY.TRADE_VOLUME 
                    from EGX30_CAP_SYMBOLS LEFT JOIN SYMBOLHISTORY
                    ON EGX30_CAP_SYMBOLS.SYMBOL_CODE = SYMBOLHISTORY.SYMBOL_CODE """
    cursor = con.cursor()    
    df_sectors = pd.read_sql(sql_sectors, con)
    print("EGX30-CAP Tickers  && It's Trading Volume\n================================================\n")
    print(df_sectors)
fetch_data()

11.2.0.4.0
EGX30-CAP Tickers  && It's Trading Volume
================================================

         SYMBOL_CODE  TRADE_VOLUME
0       EGS729J1C018        460842
1       EGS73541C012      26598110
2       EGS743O1C013        307032
3       EGS745L1C014       8134435
4       EGS95001C011         23932
...              ...           ...
104972  EGS729J1C018       1283651
104973  EGS73541C012      33863911
104974  EGS743O1C013        398022
104975  EGS745L1C014       8731318
104976  EGS95001C011         46101

[104977 rows x 2 columns]

In [9]:
def fetch_data():
    con = cx_Oracle.connect('STOCK/P3rXdM5HbSgQRmCS@10.1.20.41:1521/STOCK')
    print (con.version)
    sql_sectors = """SELECT EGX50_SYMBOLS.SYMBOL_CODE , SYMBOLHISTORY.TRADE_VOLUME 
                    from EGX50_SYMBOLS LEFT JOIN SYMBOLHISTORY
                    ON EGX50_SYMBOLS.SYMBOL_CODE = SYMBOLHISTORY.SYMBOL_CODE """
    cursor = con.cursor()    
    df_sectors = pd.read_sql(sql_sectors, con)
    print("EGX50 Tickers  && It's Trading Volume\n================================================\n")
    print(df_sectors)
fetch_data()

11.2.0.4.0
EGX50 Tickers  && It's Trading Volume
================================================

         SYMBOL_CODE  TRADE_VOLUME
0       EGS70321C012       2462433
1       EGS729J1C018        460842
2       EGS73541C012      26598110
3       EGS743O1C013        307032
4       EGS745L1C014       8134435
...              ...           ...
182261  EGS73541C012      33863911
182262  EGS743O1C013        398022
182263  EGS745L1C014       8731318
182264  EGS75011C014       8340213
182265  EGS95001C011         46101

[182266 rows x 2 columns]

In [10]:
def fetch_data():
    con = cx_Oracle.connect('STOCK/P3rXdM5HbSgQRmCS@10.1.20.41:1521/STOCK')
    print (con.version)
    sql_sectors = """SELECT EGX70_SYMBOLS.SYMBOL_CODE , SYMBOLHISTORY.TRADE_VOLUME 
                    from EGX70_SYMBOLS LEFT JOIN SYMBOLHISTORY
                    ON EGX70_SYMBOLS.SYMBOL_CODE = SYMBOLHISTORY.SYMBOL_CODE """
    cursor = con.cursor()    
    df_sectors = pd.read_sql(sql_sectors, con)
    print("EGX70 Tickers  && It's Trading Volume\n================================================\n")
    print(df_sectors)
fetch_data()

11.2.0.4.0
EGX70 Tickers  && It's Trading Volume
================================================

         SYMBOL_CODE  TRADE_VOLUME
0       EGS70321C012       2462433
1       EGS70431C019       1236431
2       EGS70571C012        188260
3       EGS74191C015        424552
4       EGS75011C014       1082988
...              ...           ...
258791  EGS70431C019       1199943
258792  EGS70571C012        319736
258793  EGS74191C015        282424
258794  EGS75011C014       8340213
258795  EGS78021C010        442799

[258796 rows x 2 columns]

In [11]:
def fetch_data():
    con = cx_Oracle.connect('STOCK/P3rXdM5HbSgQRmCS@10.1.20.41:1521/STOCK')
    print (con.version)
    sql_sectors = """SELECT EGX100_SYMBOLS.SYMBOL_CODE , SYMBOLHISTORY.TRADE_VOLUME 
                    from EGX100_SYMBOLS LEFT JOIN SYMBOLHISTORY
                    ON EGX100_SYMBOLS.SYMBOL_CODE = SYMBOLHISTORY.SYMBOL_CODE """
    cursor = con.cursor()    
    df_sectors = pd.read_sql(sql_sectors, con)
    print("EGX100 Tickers  && It's Trading Volume\n================================================\n")
    print(df_sectors)
fetch_data()

11.2.0.4.0
EGX100 Tickers  && It's Trading Volume
================================================

         SYMBOL_CODE  TRADE_VOLUME
0       EGS70321C012       2462433
1       EGS70431C019       1236431
2       EGS70571C012        188260
3       EGS729J1C018        460842
4       EGS73541C012      26598110
...              ...           ...
363768  EGS743O1C013        398022
363769  EGS745L1C014       8731318
363770  EGS75011C014       8340213
363771  EGS78021C010        442799
363772  EGS95001C011         46101

[363773 rows x 2 columns]

In [14]:
def fetch_data():
    con = cx_Oracle.connect('STOCK/P3rXdM5HbSgQRmCS@10.1.20.41:1521/STOCK')
    print (con.version)
    sql_sectors = "SELECT * from CASE30_COMPANIES "
    cursor = con.cursor()    
    df_sectors = pd.read_sql(sql_sectors, con)
    print("EGX30 Companies Tickers \n================================================\n")
    print(df_sectors)
fetch_data()

11.2.0.4.0
EGX30 Companies Tickers
================================================

     SYMBOL_CODE                                        SYMBOL_NAME
0   EGS39061C014        MISR FRETILIZERS PRODUCTION COMPANY - MOPCO
1   EGS65541C012   CAIRO FOR INVESTMENT AND REAL ESTATE DEVELOPMENT
2   EGS691S1C011                                      T M G HOLDING
3   EGS65571C019                               MEDINET NASR HOUSING
4   EGS60121C018              COMMERCIAL INTERNATIONAL BANK (EGYPT)
5   EGS69101C011    EGYPTIAN FINANCIAL GROUP-HERMES HOLDING COMPANY
6   EGS655L1C012                     PALM HILLS DEVELOPMENT COMPANY
7   EGS37091C013                                    EASTERN COMPANY
8   EGS60041C018                              CREDIT AGRICOLE EGYPT
9   EGS38191C010                               ABOU KIR FERTILIZERS
10  EGS3C251C013                                          EZZ STEEL
11  EGS512O1C012                                     IBNSINA PHARMA
12  EGS729J1C018                         CLEOPATRA HOSPITAL COMPANY
13  EGS3G0Z1C014                                   ELSWEDY ELECTRIC
14  EGS381B1C015  TENTH OF RAMADAN PHARMACEUTICAL INDUSTRIES&DIA...
15  EGS743O1C013    E-FINANCE FOR DIGITAL AND FINANCIAL INVESTMENTS
16  EGS69082C013                           EGYPTIAN KUWAITI HOLDING
17  EGS33041C012                                   ORIENTAL WEAVERS
18  EGS73541C012                     QALA FOR FINANCIAL INVESTMENTS
19  EGS48031C016                                      TELECOM EGYPT
20  EGS673T1C012                                            GB CORP
21  EGS745L1C014  FAWRY FOR BANKING TECHNOLOGY AND ELECTRONIC PA...
22  EGS69081C023                       EGYPTIAN KUWAITI HOLDING-EGP
23  EGS95001C011                           ORASCOM CONSTRUCTION PLC
24  EGS380P1C010                    ALEXANDRIA MINERAL OILS COMPANY
25  EGS65591C017                                 HELIOPOLIS HOUSING
26  EGS380S1C017                 SIDI KERIR PETROCHEMICALS - SIDPEC
27  EGS30901C010                            JUHAYNA FOOD INDUSTRIES
28  EGS597R1C017                        TAALEEM MANAGEMENT SERVICES
29  EGS305I1C011                        EDITA FOOD INDUSTRIES S.A.E
30  EGS60111C019                      ABU DHABI ISLAMIC BANK- EGYPT

In [29]:
def fetch_data():
    con = cx_Oracle.connect('STOCK/P3rXdM5HbSgQRmCS@10.1.20.41:1521/STOCK')
    print (con.version)
    sql_sectors = "SELECT * from SYMBOLINFO "
    cursor = con.cursor()    
    df_sectors = pd.read_sql(sql_sectors, con)
    print("SYMBOLINFO  Tickers \n====================\n")
    cols = df_sectors.columns
    print(cols)
    for col in cols :
        print(col)
        print('------------------')
        print(df_sectors[col])
        print("==================================\n==================================")
fetch_data()

11.2.0.4.0
SYMBOLINFO  Tickers
====================

Index(['SYMBOL_CODE', 'SYMBOL_TYPE', 'SECTOR_ID', 'ENG_NAME', 'ARB_NAME',
       'ISIN', 'REUTERS', 'CURRENCY', 'BOND_TYPE', 'LISTED_SHARES',
       'PAID_SHARES', 'FACE_VALUE', 'COUPON_VALUE', 'COUPON_DATE',
       'NET_PROFIT', 'NET_PROFIT_DATE', 'EPS', 'PE_RATIO', 'LAST_TRADE_DATE',
       'DIVIDEND_YIELD_PERC', 'MARKET_CAP', 'OPEN_PRICE'],
      dtype='object')
SYMBOL_CODE
------------------
0      EGB69611S337
1      EGB69611S295
2      EGB692R1S245
3      EGB694K1S299
4      EGS67001C015
           ...
484    EGS32221C011
485    EGB69671L013
486    EGS65591C017
487    EGB692C1S317
488    EGS3C001C012
Name: SYMBOL_CODE, Length: 489, dtype: object
==================================
==================================
SYMBOL_TYPE
------------------
0      214
1      214
2      214
3      214
4      210
      ...
484    210
485    214
486    210
487    214
488    210
Name: SYMBOL_TYPE, Length: 489, dtype: object
==================================
==================================
SECTOR_ID
------------------
0       0
1       0
2       0
3       0
4      24
       ..
484    26
485     0
486    11
487     0
488    28
Name: SECTOR_ID, Length: 489, dtype: object
==================================
==================================
ENG_NAME
------------------
0      Capital For Securitization 7th Issu Tran B Dec...
1      Capital For Securitization 3rd Iss 1st Pro Tra...
2      EL TAAMIR Securitization 1st Is 1st Pr Tr B Ma...
3      EFG Hermes Securitization The Fourth Iss-Secon...
4          International Company For Leasing (IncoLEASE)
                             ...
484                                  Arab Cotton Ginning
485            Sarwa Sukuk The First Issue November 2027
486                                   Heliopolis Housing
487    Egyptian Co For Securitization Tenth Issue Tra...
488                      Middle East Glass Manufacturing
Name: ENG_NAME, Length: 489, dtype: object
==================================
==================================
ARB_NAME
------------------
0      سندات كابيتال للتوريق الاصدار السابع الشريحة ب...
1      سندات كابيتال للتوريق اصدار ثالث-برنامج 1 شريح...
2      سندات التعمير للتوريق ص  1 ب  1 ش  ب مارس 2026...
3        سندات اى اف جى هيرميس للتوريق ص 4-ب 2 مارس 2024
4                     الدولية للتأجير التمويلي (إنكوليس)
                             ...
484                                العربية لحليج الأقطان
485    صكوك مضاربة ثروة للتصكيك الاصدار الاول نوفمبر ...
486                         مصر الجديدة للاسكان والتعمير
487    سندات المصرية للتوريق الاصدار العاشر الشريحة د...
488                           الشرق الأوسط لصناعة الزجاج
Name: ARB_NAME, Length: 489, dtype: object
==================================
==================================
ISIN
------------------
0      None
1      None
2      None
3      None
4      None
       ...
484    None
485    None
486    None
487    None
488    None
Name: ISIN, Length: 489, dtype: object
==================================
==================================
REUTERS
------------------
0      CAPSEC07B=CA
1      CAPSEC3P1A=CA
2      EGETSC1P1B=CA
3      EGHRSEC4P2=CA
4      ICLE.CA
               ...
484    ACGC.CA
485    EGSRSK01=CA
486    HELI.CA
487    EGECSE10D=CA
488    MEGM.CA
Name: REUTERS, Length: 489, dtype: object
==================================
==================================
CURRENCY
------------------
0      1
1      1
2      1
3      1
4      1
      ...
484    1
485    1
486    1
487    1
488    1
Name: CURRENCY, Length: 489, dtype: object
==================================
==================================
BOND_TYPE
------------------
0      None
1      None
2      None
3      None
4      None
       ...
484    None
485    None
486    None
487    None
488    None
Name: BOND_TYPE, Length: 489, dtype: object
==================================
==================================
LISTED_SHARES
------------------
0      3.462000e+06
1      3.060000e+06
2      2.034000e+06
3      8.565000e+06
4      2.000000e+07
           ...
484    2.648159e+08
485    2.500000e+07
486    1.335085e+09
487    1.625000e+06
488    6.262799e+07
Name: LISTED_SHARES, Length: 489, dtype: float64
==================================
==================================
PAID_SHARES
------------------
0      3.462000e+06
1      3.060000e+06
2      2.034000e+06
3      8.565000e+06
4      2.000000e+07
           ...
484    2.648159e+08
485    2.500000e+07
486    1.335085e+09
487    1.625000e+06
488    6.262799e+07
Name: PAID_SHARES, Length: 489, dtype: float64
==================================
==================================
FACE_VALUE
------------------
0      100.0000
1       84.9477
2      100.0000
3      100.0000
4       10.0000
         ...
484      4.5000
485     54.1816
486      0.2500
487    100.0000
488      1.0000
Name: FACE_VALUE, Length: 489, dtype: float64
==================================
==================================
COUPON_VALUE
------------------
0                           None
1                           None
2                           None
3                           None
4      2.5
                 ...
484    .15
485                         None
486    .2222
487                         None
488    1.5
Name: COUPON_VALUE, Length: 489, dtype: object
==================================
==================================
COUPON_DATE
------------------
0            NaT
1            NaT
2            NaT
3            NaT
4     2022-09-29
         ...
484   2022-12-25
485          NaT
486   2023-01-16
487          NaT
488   2012-11-29
Name: COUPON_DATE, Length: 489, dtype: datetime64[ns]
==================================
==================================
NET_PROFIT
------------------
0              NaN
1              NaN
2              NaN
3              NaN
4       90212956.0
          ...
484    208252000.0
485            NaN
486    659333438.0
487            NaN
488     75934165.0
Name: NET_PROFIT, Length: 489, dtype: float64
==================================
==================================
NET_PROFIT_DATE
------------------
0      None
1      None
2      None
3      None
4      None
       ...
484    None
485    None
486    None
487    None
488    None
Name: NET_PROFIT_DATE, Length: 489, dtype: object
==================================
==================================
EPS
------------------
0       NaN
1       NaN
2       NaN
3       NaN
4      4.51
       ...
484    0.79
485     NaN
486    0.49
487     NaN
488    1.21
Name: EPS, Length: 489, dtype: float64
==================================
==================================
PE_RATIO
------------------
0       0.00
1       0.00
2       0.00
3       0.00
4       9.11
       ...
484     5.39
485     0.00
486    21.18
487     0.00
488    10.34
Name: PE_RATIO, Length: 489, dtype: float64
==================================
==================================
LAST_TRADE_DATE
------------------
0     2023-01-29
1     2023-06-04
2     2023-05-17
3     2023-05-28
4     2023-05-31
         ...
484   2023-06-05
485   2023-05-29
486   2023-06-05
487   2021-06-16
488   2023-03-09
Name: LAST_TRADE_DATE, Length: 489, dtype: datetime64[ns]
==================================
==================================
DIVIDEND_YIELD_PERC
------------------
0      0.000
1      0.000
2      0.000
3      0.000
4      0.000
       ...
484    3.538
485    0.000
486    2.124
487    0.000
488    0.000
Name: DIVIDEND_YIELD_PERC, Length: 489, dtype: float64
==================================
==================================
MARKET_CAP
------------------
0      3.462000e+08
1      2.599409e+08
2      2.034000e+08
3      8.565000e+08
4      8.218000e+08
           ...
484    1.122819e+09
485    1.354550e+09
486    1.396499e+10
487    1.625000e+08
488    7.853550e+08
Name: MARKET_CAP, Length: 489, dtype: float64
==================================
==================================
OPEN_PRICE
------------------
0      100.000
1       84.948
2      100.000
3      100.000
4       41.090
        ...
484      4.240
485     54.182
486     10.460
487    100.000
488     12.540
Name: OPEN_PRICE, Length: 489, dtype: float64
==================================
==================================

In [40]:
def fetch_data():
    con = cx_Oracle.connect('STOCK/P3rXdM5HbSgQRmCS@10.1.20.41:1521/STOCK')
    print (con.version)
    sql_sectors = "SELECT * from EXCHANGE_ACTIVITIES "
    cursor = con.cursor()    
    df_sectors = pd.read_sql(sql_sectors, con)
    print("EXCHANGE_ACTIVITIES   \n====================\n")
    cols = df_sectors.columns
    print(cols)
    print("==============================================================") 
    print("==============================================================") 
    print(df_sectors)
    print("==============================================================")
    print("==============================================================")
    print("==============================================================")
    for col in cols :
        print(col)
        print('------------------')
        print(df_sectors[col])
        print("==================================\n==================================")
    
       
fetch_data()

11.2.0.4.0
EXCHANGE_ACTIVITIES
====================

Index(['DESCRIPTION', 'TRADES', 'VOLUME', 'VALUE', 'SYMBOLS_TRADED',
       'SEQUENCE'],
      dtype='object')
==============================================================
==============================================================
  DESCRIPTION  TRADES      VOLUME         VALUE  SYMBOLS_TRADED  SEQUENCE
0       TOTAL  103047  1545611483  3.379254e+09             205         4
1   UNCHANGED    3851   244666469  1.554339e+08              56         3
2    ADVANCED   66713   894994374  2.533661e+09              59         1
3    DECLINED   32483   405950640  6.901583e+08              91         2
==============================================================
==============================================================
==============================================================
DESCRIPTION
------------------
0        TOTAL
1    UNCHANGED
2     ADVANCED
3     DECLINED
Name: DESCRIPTION, dtype: object
==================================
==================================
TRADES
------------------
0    103047
1      3851
2     66713
3     32483
Name: TRADES, dtype: int64
==================================
==================================
VOLUME
------------------
0    1545611483
1     244666469
2     894994374
3     405950640
Name: VOLUME, dtype: int64
==================================
==================================
VALUE
------------------
0    3.379254e+09
1    1.554339e+08
2    2.533661e+09
3    6.901583e+08
Name: VALUE, dtype: float64
==================================
==================================
SYMBOLS_TRADED
------------------
0    205
1     56
2     59
3     91
Name: SYMBOLS_TRADED, dtype: int64
==================================
==================================
SEQUENCE
------------------
0    4
1    3
2    1
3    2
Name: SEQUENCE, dtype: int64
==================================
==================================

In [39]:
def fetch_data():
    con = cx_Oracle.connect('STOCK/P3rXdM5HbSgQRmCS@10.1.20.41:1521/STOCK')
    print (con.version)
    sql_sectors = "SELECT * from TRADES "
    cursor = con.cursor()    
    df_sectors = pd.read_sql(sql_sectors, con)
    print("TRADES   \n====================\n")
    cols = df_sectors.columns
    print(cols)
    print("==============================================================") 
    print("==============================================================") 
    print(df_sectors)
    print("==============================================================") 
    print("==============================================================") 
    print("==============================================================") 
    for col in cols :
        print(col)
        print('------------------')
        print(df_sectors[col])
        print("==================================\n==================================")
fetch_data()

11.2.0.4.0
TRADES
====================

Index(['TRADE_DATE', 'SYMBOL_CODE', 'MARKET_CODE', 'TICKET_NUMBER',
       'TRADE_PRICE', 'VOLUME_TRADED', 'TRADE_VALUE', 'LE_VALUE', 'EXEC_TIME',
       'BUY_ORDER_NUMBER', 'SELL_ORDER_NUMBER', 'REC_COUNT', 'REC_SERIAL'],
      dtype='object')
==============================================================
==============================================================
       TRADE_DATE   SYMBOL_CODE MARKET_CODE          TICKET_NUMBER  \
0      2023-06-06  EGS65071C010        NOPL  20230606-000157103386
1      2023-06-06  EGS92361C012        NOPL  20230606-000157103387
2      2023-06-06  EGS65341C017        NOPL  20230606-000157103388
3      2023-06-06  EGS65591C017        NOPL  20230606-000157103389
4      2023-06-06  EGS65591C017        NOPL  20230606-000157103390
...           ...           ...         ...                    ...
104361 2023-06-06  EGS67181C015        NOPL  20230606-000157205429
104362 2023-06-06  EGS33321C018        NOPL  20230606-000157205430
104363 2023-06-06  EGS65591C017        NOPL  20230606-000157205431
104364 2023-06-06  EGS65591C017        NOPL  20230606-000157205432
104365 2023-06-06  EGS213S1C010        NOPL  20230606-000157205433

        TRADE_PRICE  VOLUME_TRADED  TRADE_VALUE  LE_VALUE           EXEC_TIME  \
0             1.085           3500      3797.50   3797.50 2023-06-06 10:01:18
1             0.438          20000      8760.00   8760.00 2023-06-06 10:01:18
2             0.291           6000      1746.00   1746.00 2023-06-06 10:01:18
3            11.250           1000     11250.00  11250.00 2023-06-06 10:01:19
4            11.200           5000     56000.00  56000.00 2023-06-06 10:01:19
...             ...            ...          ...       ...                 ...
104361        1.825           3000      5475.00   5475.00 2023-06-06 14:25:37
104362        0.500         100000     50000.00  50000.00 2023-06-06 14:25:37
104363       11.170           8014     89516.38  89516.38 2023-06-06 14:25:40
104364       11.170           3500     39095.00  39095.00 2023-06-06 14:25:40
104365        6.380           7168     45731.84  45731.84 2023-06-06 14:25:40

       BUY_ORDER_NUMBER SELL_ORDER_NUMBER  REC_COUNT  REC_SERIAL
0             264105797         264112281     100118   118225965
1             264105347         264109477     100118   118225966
2             264111702         264112286     100118   118225967
3             264111765         264107413     100119   118225968
4             264110517         264110679     100119   118225969
...                 ...               ...        ...         ...
104361        264254835         264251027     142537   118327967
104362        264254733         264254836     142537   118327968
104363        264250125         264254031     142540   118327969
104364        264250125         264254224     142540   118327970
104365        264252681         264253700     142540   118327971

[104366 rows x 13 columns]
==============================================================
==============================================================
==============================================================
TRADE_DATE
------------------
0        2023-06-06
1        2023-06-06
2        2023-06-06
3        2023-06-06
4        2023-06-06
            ...
104361   2023-06-06
104362   2023-06-06
104363   2023-06-06
104364   2023-06-06
104365   2023-06-06
Name: TRADE_DATE, Length: 104366, dtype: datetime64[ns]
==================================
==================================
SYMBOL_CODE
------------------
0         EGS65071C010
1         EGS92361C012
2         EGS65341C017
3         EGS65591C017
4         EGS65591C017
              ...
104361    EGS67181C015
104362    EGS33321C018
104363    EGS65591C017
104364    EGS65591C017
104365    EGS213S1C010
Name: SYMBOL_CODE, Length: 104366, dtype: object
==================================
==================================
MARKET_CODE
------------------
0         NOPL
1         NOPL
2         NOPL
3         NOPL
4         NOPL
          ...
104361    NOPL
104362    NOPL
104363    NOPL
104364    NOPL
104365    NOPL
Name: MARKET_CODE, Length: 104366, dtype: object
==================================
==================================
TICKET_NUMBER
------------------
0         20230606-000157103386
1         20230606-000157103387
2         20230606-000157103388
3         20230606-000157103389
4         20230606-000157103390
                  ...
104361    20230606-000157205429
104362    20230606-000157205430
104363    20230606-000157205431
104364    20230606-000157205432
104365    20230606-000157205433
Name: TICKET_NUMBER, Length: 104366, dtype: object
==================================
==================================
TRADE_PRICE
------------------
0          1.085
1          0.438
2          0.291
3         11.250
4         11.200
           ...
104361     1.825
104362     0.500
104363    11.170
104364    11.170
104365     6.380
Name: TRADE_PRICE, Length: 104366, dtype: float64
==================================
==================================
VOLUME_TRADED
------------------
0           3500
1          20000
2           6000
3           1000
4           5000
           ...
104361      3000
104362    100000
104363      8014
104364      3500
104365      7168
Name: VOLUME_TRADED, Length: 104366, dtype: int64
==================================
==================================
TRADE_VALUE
------------------
0          3797.50
1          8760.00
2          1746.00
3         11250.00
4         56000.00
            ...
104361     5475.00
104362    50000.00
104363    89516.38
104364    39095.00
104365    45731.84
Name: TRADE_VALUE, Length: 104366, dtype: float64
==================================
==================================
LE_VALUE
------------------
0          3797.50
1          8760.00
2          1746.00
3         11250.00
4         56000.00
            ...
104361     5475.00
104362    50000.00
104363    89516.38
104364    39095.00
104365    45731.84
Name: LE_VALUE, Length: 104366, dtype: float64
==================================
==================================
EXEC_TIME
------------------
0        2023-06-06 10:01:18
1        2023-06-06 10:01:18
2        2023-06-06 10:01:18
3        2023-06-06 10:01:19
4        2023-06-06 10:01:19
                 ...
104361   2023-06-06 14:25:37
104362   2023-06-06 14:25:37
104363   2023-06-06 14:25:40
104364   2023-06-06 14:25:40
104365   2023-06-06 14:25:40
Name: EXEC_TIME, Length: 104366, dtype: datetime64[ns]
==================================
==================================
BUY_ORDER_NUMBER
------------------
0         264105797
1         264105347
2         264111702
3         264111765
4         264110517
            ...
104361    264254835
104362    264254733
104363    264250125
104364    264250125
104365    264252681
Name: BUY_ORDER_NUMBER, Length: 104366, dtype: object
==================================
==================================
SELL_ORDER_NUMBER
------------------
0         264112281
1         264109477
2         264112286
3         264107413
4         264110679
            ...
104361    264251027
104362    264254836
104363    264254031
104364    264254224
104365    264253700
Name: SELL_ORDER_NUMBER, Length: 104366, dtype: object
==================================
==================================
REC_COUNT
------------------
0         100118
1         100118
2         100118
3         100119
4         100119
           ...
104361    142537
104362    142537
104363    142540
104364    142540
104365    142540
Name: REC_COUNT, Length: 104366, dtype: int64
==================================
==================================
REC_SERIAL
------------------
0         118225965
1         118225966
2         118225967
3         118225968
4         118225969
            ...
104361    118327967
104362    118327968
104363    118327969
104364    118327970
104365    118327971
Name: REC_SERIAL, Length: 104366, dtype: int64
==================================
==================================

In [42]:
def fetch_data():
    con = cx_Oracle.connect('STOCK/P3rXdM5HbSgQRmCS@10.1.20.41:1521/STOCK')
    print (con.version)
    sql_sectors = "SELECT * from SYMBOLSUMMARY "
    cursor = con.cursor()    
    df_sectors = pd.read_sql(sql_sectors, con)
    print("Symbols-Summary   \n====================\n")
    cols = df_sectors.columns
    print(cols)
    print("==============================================================") 
    print("==============================================================") 
    print(df_sectors)
    print("==============================================================") 
    print("==============================================================") 
    print("==============================================================") 
    for col in cols :
        print(col)
        print('------------------')
        print(df_sectors[col])
        print("==================================\n==================================")
    
fetch_data()

11.2.0.4.0
Symbols-Summary
====================

Index(['SYMBOL_CODE', 'SYMBOL_TYPE', 'CUM_NUM_TRANSACT', 'CUM_TRADE_VALUE',
       'CUM_VOLUME', 'LAST_TRADE_PRICE', 'HIGH_PRICE', 'LOW_PRICE',
       'CLOSE_PRICE', 'REF_PRICE'],
      dtype='object')
==============================================================
==============================================================
      SYMBOL_CODE  SYMBOL_TYPE  CUM_NUM_TRANSACT  CUM_TRADE_VALUE  CUM_VOLUME  \
0    EGS3C161C014          210             267.0     3.401898e+06    457360.0
1    EGS3C251C013          210            1793.0     4.480157e+07   1232539.0
2    EGS3C311C015         1210               NaN              NaN         NaN
3    EGS3C4L1C015          210             731.0     5.250577e+06   5826750.0
4    EGS3E1E1C013          210             127.0     1.270681e+06    805211.0
..            ...          ...               ...              ...         ...
484  EGS672I2C014          210               8.0     1.393336e+05     60048.0
485  EGS30401C011          210               1.0     7.902100e+02        19.0
486  EGS01071C017          210              22.0     2.395067e+05      6673.0
487  EGS30411C010          210               1.0     2.555000e+04      1250.0
488  EGS39011C019          210             223.0     4.330303e+06    132237.0

     LAST_TRADE_PRICE  HIGH_PRICE  LOW_PRICE  CLOSE_PRICE  REF_PRICE
0               7.450       7.550      7.300        7.450      7.510
1              36.050      37.480     36.010       36.050     37.060
2                 NaN         NaN        NaN       13.200     13.200
3               0.885       0.924      0.873        0.885      0.886
4               1.562       1.611      1.552        1.562      1.577
..                ...         ...        ...          ...        ...
484             0.075       0.076      0.075        0.077      0.077
485            41.590      41.590     41.590       41.580     41.580
486            35.500      36.000     35.500       37.160     37.160
487            20.440      20.440     20.440       20.410     20.410
488            32.600      33.000     32.500       32.670     32.510

[489 rows x 10 columns]
==============================================================
==============================================================
==============================================================
SYMBOL_CODE
------------------
0      EGS3C161C014
1      EGS3C251C013
2      EGS3C311C015
3      EGS3C4L1C015
4      EGS3E1E1C013
           ...
484    EGS672I2C014
485    EGS30401C011
486    EGS01071C017
487    EGS30411C010
488    EGS39011C019
Name: SYMBOL_CODE, Length: 489, dtype: object
==================================
==================================
SYMBOL_TYPE
------------------
0       210
1       210
2      1210
3       210
4       210
       ...
484     210
485     210
486     210
487     210
488     210
Name: SYMBOL_TYPE, Length: 489, dtype: int64
==================================
==================================
CUM_NUM_TRANSACT
------------------
0       267.0
1      1793.0
2         NaN
3       731.0
4       127.0
        ...
484       8.0
485       1.0
486      22.0
487       1.0
488     223.0
Name: CUM_NUM_TRANSACT, Length: 489, dtype: float64
==================================
==================================
CUM_TRADE_VALUE
------------------
0      3.401898e+06
1      4.480157e+07
2               NaN
3      5.250577e+06
4      1.270681e+06
           ...
484    1.393336e+05
485    7.902100e+02
486    2.395067e+05
487    2.555000e+04
488    4.330303e+06
Name: CUM_TRADE_VALUE, Length: 489, dtype: float64
==================================
==================================
CUM_VOLUME
------------------
0       457360.0
1      1232539.0
2            NaN
3      5826750.0
4       805211.0
         ...
484      60048.0
485         19.0
486       6673.0
487       1250.0
488     132237.0
Name: CUM_VOLUME, Length: 489, dtype: float64
==================================
==================================
LAST_TRADE_PRICE
------------------
0       7.450
1      36.050
2         NaN
3       0.885
4       1.562
        ...
484     0.075
485    41.590
486    35.500
487    20.440
488    32.600
Name: LAST_TRADE_PRICE, Length: 489, dtype: float64
==================================
==================================
HIGH_PRICE
------------------
0       7.550
1      37.480
2         NaN
3       0.924
4       1.611
        ...
484     0.076
485    41.590
486    36.000
487    20.440
488    33.000
Name: HIGH_PRICE, Length: 489, dtype: float64
==================================
==================================
LOW_PRICE
------------------
0       7.300
1      36.010
2         NaN
3       0.873
4       1.552
        ...
484     0.075
485    41.590
486    35.500
487    20.440
488    32.500
Name: LOW_PRICE, Length: 489, dtype: float64
==================================
==================================
CLOSE_PRICE
------------------
0       7.450
1      36.050
2      13.200
3       0.885
4       1.562
        ...
484     0.077
485    41.580
486    37.160
487    20.410
488    32.670
Name: CLOSE_PRICE, Length: 489, dtype: float64
==================================
==================================
REF_PRICE
------------------
0       7.510
1      37.060
2      13.200
3       0.886
4       1.577
        ...
484     0.077
485    41.580
486    37.160
487    20.410
488    32.510
Name: REF_PRICE, Length: 489, dtype: float64
==================================
==================================

In [43]:
def fetch_data():
    con = cx_Oracle.connect('STOCK/P3rXdM5HbSgQRmCS@10.1.20.41:1521/STOCK')
    print (con.version)
    sql_sectors = "SELECT * from SYMBOLMARKET "
    cursor = con.cursor()    
    df_sectors = pd.read_sql(sql_sectors, con)
    print("SymbolMArket   \n====================\n")
    cols = df_sectors.columns
    print(cols)
    print("==============================================================") 
    print("==============================================================") 
    print(df_sectors)
    print("==============================================================") 
    print("==============================================================") 
    print("==============================================================") 
    for col in cols :
        print(col)
        print('------------------')
        print(df_sectors[col])
        print("==================================\n==================================")
fetch_data()

11.2.0.4.0
SymbolMArket
====================

Index(['SYMBOL_CODE', 'MARKET_CODE', 'START_DATE', 'END_DATE',
       'PRIMARY_MARKET', 'SYMBOL_STATUS'],
      dtype='object')
==============================================================
==============================================================
      SYMBOL_CODE MARKET_CODE START_DATE END_DATE PRIMARY_MARKET SYMBOL_STATUS
0    EGS73BR1C013        NOPL        NaT     None              Y          None
1    EGS69081C023        NOPL        NaT     None              Y          None
2    EGB69561S102        CORP        NaT     None              Y          None
3    EGB694Y1S277        CORP        NaT     None              Y          None
4    EGB694Y1S285        CORP        NaT     None              Y          None
..            ...         ...        ...      ...            ...           ...
484  EGS681W1C017         SME        NaT     None              Y          None
485  EGS922W1C016         SME        NaT     None              Y          None
486  EGS07661C019         SME        NaT     None              Y          None
487  EGS774M1C017         SME        NaT     None              Y          None
488  EGS74F71C015         SME        NaT     None              Y          None

[489 rows x 6 columns]
==============================================================
==============================================================
==============================================================
SYMBOL_CODE
------------------
0      EGS73BR1C013
1      EGS69081C023
2      EGB69561S102
3      EGB694Y1S277
4      EGB694Y1S285
           ...
484    EGS681W1C017
485    EGS922W1C016
486    EGS07661C019
487    EGS774M1C017
488    EGS74F71C015
Name: SYMBOL_CODE, Length: 489, dtype: object
==================================
==================================
MARKET_CODE
------------------
0      NOPL
1      NOPL
2      CORP
3      CORP
4      CORP
       ...
484     SME
485     SME
486     SME
487     SME
488     SME
Name: MARKET_CODE, Length: 489, dtype: object
==================================
==================================
START_DATE
------------------
0     NaT
1     NaT
2     NaT
3     NaT
4     NaT
       ..
484   NaT
485   NaT
486   NaT
487   NaT
488   NaT
Name: START_DATE, Length: 489, dtype: datetime64[ns]
==================================
==================================
END_DATE
------------------
0      None
1      None
2      None
3      None
4      None
       ...
484    None
485    None
486    None
487    None
488    None
Name: END_DATE, Length: 489, dtype: object
==================================
==================================
PRIMARY_MARKET
------------------
0      Y
1      Y
2      Y
3      Y
4      Y
      ..
484    Y
485    Y
486    Y
487    Y
488    Y
Name: PRIMARY_MARKET, Length: 489, dtype: object
==================================
==================================
SYMBOL_STATUS
------------------
0      None
1      None
2      None
3      None
4      None
       ...
484    None
485    None
486    None
487    None
488    None
Name: SYMBOL_STATUS, Length: 489, dtype: object
==================================
==================================